@font-face {
  font-family: 'Orbitron', sans-serif;
  font-family: 'Roboto', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&family=Roboto:wght@300&display=swap');
}

#about{
    height: 80vh;
    width: 100%;
  
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
}

#about-background{
  background-color: rgb(228, 228, 228);
  margin: 10vh;
  border-radius: 10%;
}


  
#about-header{
    margin-top: 5vh;
    display: flex;
    flex-direction: row;
    gap: 1%;
  
    align-items: center;
    justify-content: center;
  
    font-size: 2.5vw;
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
}
  #about-header1{
    color: rgb(0, 0, 0);
  }
  #about-header2{
    color: #0066ff;
  }
  
  
  #about-content{
    display: flex;
    flex-direction: row;
    align-content: center;
    margin-bottom: 7.5vh;
  }
  
  #about-content-image{

    margin-top: 2.5%;
    margin-left: 10%;
    margin-right: 2.5%;
    
  }  
  #about-content-image1{
    width: 25vw;
    height: auto;
    border-radius: 2.5%;

  }
  #about-content-text{
    vertical-align: middle;
  
    margin-top: auto;  
    margin-bottom: auto;
    margin-left: 2.5%;
    margin-right: 10%; 
  
    font-family: 'Roboto', sans-serif;
  }
  
  #about-content-text1{
    font-size: 2.5vw;
    font-weight: bold;
  }

  #about-content-text2{
    font-size: 1.75vw;
  }