@font-face {
  font-family: 'Orbitron', sans-serif;
  font-family: 'Roboto', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&family=Roboto:wght@300&display=swap');
}

#navbar{
  display: flex;
  flex-direction: row;

  overflow: hidden;
  background: radial-gradient(ellipse at bottom, #1a3757 0%, #090a0f 100%);
  opacity: 0.9;

  padding: 1vh 0 1vh 0;
  gap: 2%;
  
  font-size: 1.5vw;
  font-family: "Monaco", "Courier New", monospace;
  font-weight: bold;

  color: white;

  justify-content: center;
  align-items: center;
}

.sticky {
  z-index:100;
  position: fixed;
  top: 0;
  width: 100%;
}




#about{
    width: 100%;
  
    display: flex;
    flex-direction: column;
}

.sticky + #about {
  padding-top: 5vh;
}

#about-gradient{
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;

  border-radius: 5%;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#about-background{

  padding-top: 1vh;
  border-radius: 5%;
}


  
#about-header{
    display: flex;
    flex-direction: row;
    gap: 1%;
  
    align-items: center;
    justify-content: center;
  
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
}
  #about-header1{
  }
  #about-header2{
    color: #0066ff;
  }
  

  
  #about-content-image{

    
    
  }  
  #about-content-image1{

    border-radius: 5%;

  }
  
  
  #about-content-text1{
    
    font-weight: bold;
    
  }
  #about-content-text1-2{
    color: #0066ff;
  }


  @media (max-width: 800px) {
    #navbar{
      display: flex;
      flex-direction: row;
    
      overflow: hidden;
      background: radial-gradient(ellipse at bottom, #1a3757 0%, #090a0f 100%);
      opacity: 0.9;
    
      padding: 1vh 0 1vh 0;
      gap: 5%;
      
      font-size: 4vw;
      font-family: "Monaco", "Courier New", monospace;
      font-weight: bold;
    
      color: white;
    
      justify-content: center;
      align-items: center;
    }
    
    .sticky {
      z-index:100;
      position: fixed;
      top: 0;
      width: 100%;
    }
    
    .sticky + #about {
      padding-top: 2.5vh;
    }
  }