#contact{
    height: 80vh;
    width: 100%;

    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}

#contact-title{
    margin-top: 5vh;
    display: flex;
    flex-direction: row;
    gap: 1vw;
  

    font-size: 2.5vw;
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
}

#contact-title1{
    color: rgb(0, 0, 0);
    margin-right:0;
}

#contact-title2{
    color: #0066ff;
}
  
#contact-container{
    margin: 5vh;
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;
    width: 80vw;
    height: auto;
}

#contact-info{
    display: flex;
    flex-direction: column;

    align-items: center;

    width: 30vw;
    height: 30vw;
    border: black 10px;

    gap: 1vh;

    margin-right: 5vw;

}
.contact-info1{
    box-sizing: border-box;
    border: solid #000000 2px;
    background-color: white;

    width: 40vw;
    height: 10vw;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    filter: drop-shadow(.5em .5em .1em #000000);
}
.contact-infox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.contact-info1-1{
    width: 3vw;
    height: auto;
    margin-right: 1vw;
}
.contact-info1-1:hover{
    width: 4vw;
    height: auto;
    margin-right: 1vw;
    cursor: pointer;
}

.contact-info1-2{
    font-size: 1.25vw;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;

}
.contact-info1-2:hover{
    font-size: 1.3vw;
    cursor: pointer;

}

#contact-form{
    width: 40vw;
    height: 30vw;
    padding: 1vw;
    border: 2px Solid Black;
    

    margin-left: 5vw;
    box-sizing: border-box;
    background-color: white;
    filter: drop-shadow(.5em .5em .1em #000000);

}

