html {
  scroll-behavior: smooth;
}

.aLink{
  text-decoration: none;
  color: black;

}
@font-face {
  font-family: 'Orbitron', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');

}
.hover-underline-white{
  display: inline-block;
  position: relative;
  color: white;
}
.hover-underline-white:hover{
  cursor: pointer;
}

.hover-underline-white:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-white:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}


.App {
  box-sizing: border-box;
}

